@font-face {
    font-family: 'superhero';
    src: url('../src/fonts/icons/superhero.eot');
    src: url('../src/fonts/icons/superhero.eot') format('embedded-opentype'),
    url('../src/fonts/icons/superhero.ttf') format('truetype'),
    url('../src/fonts/icons/superhero.woff') format('woff'),
    url('../src/fonts/icons/superhero.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

$icons: (
        record: "\e901",
        text-bubble: "\e902",
        people-three: "\e903",
        dial-pad: "\e904",
        envelope: "\e905",
        end-call: "\e906",
        right-arrow: "\e907",
        linkedin: "\e908",
        neuralytics: "\e900",
        phone: "\e909",
        clock: "\e90a",
        phone-volume: "\e90b",
        calendar: "\e910",
        radio-button: "\e911",
        radio-button-empty: "\e912",
        check-box-empty: "\e913",
        text-bubbles: "\e917",
        check-box: "\e918",
        check: "\e919",
        buildings: "\e91a",
        download: "\e914",
        check-outline: "\e915",
        bolt: "\e916",
        chevron-up: "\e90c",
        chevron-down: "\e90d",
        chevron-left: "\e90e",
        chevron-right: "\e90f",
        insidesales-logo: "\e91b",
        paperclip: "\e91c",
        x: "\e91d",
        cursor: "\e91e",
        font: "\e91f",
        gear: "\e920",
        phone-arrow: "\e921",
        info: "\e922",
        face-neutral: "\e923",
        medal: "\e924",
        minus: "\e925",
        icosahedron: "\e926",
        face-sad: "\e927",
        plus: "\e928",
        search: "\e929",
        face-happy: "\e92a",
        trophy: "\e92b",
        vision: "\e92c",
        hourglass: "\e92d",
        flag: "\e92e",
        ban: "\e92f",
        flow-chart: "\e930",
        heart: "\e931",
        people: "\e932",
        glove: "\e933",
        twitter: "\e934",
        play: "\e935",
        expand: "\e936",
        collapse: "\e937",
        facebook: "\e938",
        facebook-negative: "\e939",
        laurels: "\e93a",
        trash: "\e93b",
        person: "\e93c"
);

@each $label, $char in ($icons) {
    .icon-#{$label} {
        font-family: 'superhero' !important;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;

        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        &:before {
            content: $char;
        }
    }
}
